@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

h1 {
    margin-left: 65px;
    font-family: 'Noto Serif JP', serif;
    font-weight: bolder;
    color: rgba(242, 67, 39, 0.947);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.calculator {
    border: 1px solid silver;
    width: 330px;
    height: 465px;
    background-image: url('../calculator/images/hikarunogo.jpg'); 
    background-size: 100%;
    
}
.inner {
    padding: 7px;
    margin-top: 165px;
    margin-left: 11px;
}
#resultfld {
    width: 218px;
    text-align: left;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 10px;
    color: black;
}
input {
    width: 50px;
    padding: 5px;
    margin: 3px;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.row {
    text-align: left;
}
#blank {
    font-size: smaller;
}